  body {
    font-family: Arial, sans-serif;
    margin: 0; /* Elimina márgenes globales */
    padding: 0;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .table-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    margin: 20px 0;
    padding: 0;
  }

  table {
    border-collapse: collapse;
    width: 50%; /* Ajusta el ancho de la tabla */
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  .table-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }

  .leader-status {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }

  .leader-status.green {
    color: green;
  }

  .leader-status.red {
    color: red;
  }

  .healthcheck-message {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
  }
